---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import TrendingList from "../components/TrendingList.astro";
import RandomList from "../components/RandomList.astro";
import DiscoverTags from "../components/DiscoverTags.astro";
import Footer from "../components/Footer.astro";
import JoinMediumModal from "../components/JoinMediumModal.astro";
import "../styles/global.css";
---

<Layout title="Medium – Where good ideas find you.">
  <Navbar />
  <Header />
  <main>
    <TrendingList />
    <div
      class="md:max-w-screen-xl container px-6 md:px-14 xl:px-10 mx-auto py-10"
    >
      <div
        class="flex flex-wrap-reverse lg:flex-nowrap justify-between lg:items-start relative"
      >
        <RandomList />
        <DiscoverTags />
      </div>
    </div>
  </main>
  <Footer />
  <JoinMediumModal />
</Layout>
